{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Noughts and Crosses{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div>
        <table>
            <tr>
            <td></td>
            <td class="vert"></td>
            <td></td>
            </tr>
            <tr>
            <td class="hori"></td>
            <td class="vert hori"></td>
            <td class="hori"></td>
            </tr>
            <tr>
            <td></td>
            <td class="vert"></td>
            <td></td>
            </tr>
        </table>
    </div>
{% endblock %}